<!DOCTYPE HTML>

<html>
	<head>
		<title>Crypto Currency</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/static/img/title.png" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
		
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Bitcoin Analysis<br/>& Predictions</h1>
			
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="https://github.com/AdarshKandwal/StatusNeoProject1/tree/main/Bitcoin%20Analysis%20and%20Forecasting" class="logo" target="_blank" >GitHub</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href= static/templates/index.html">The Project</a></li>
							
							<li><a href = "https://www.youtube.com/watch?v=CDex99NrNf4&t=447s " target="_blank" >Yt Video</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://twitter.com/Adarshkandwal1" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/profile.php?id=100010970732004" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/adarsh_kandwal/fa" class="icon brands fa-instagram target="_blank""><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/AdarshKandwal" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">Lets Get Started !!</span>
									<h2><a href="/images">Bitcoin Analysis Using<br/>
									LSTM & FB Prophet </a></h2>
								
									<p>
									In this project we used LSTM and Facebook Prophet to forecast the market after N days .The dataset is from 12-01-2015 to 
									12-04-2021, with around 2000 entries for each day. The code for the model and dataset will be given below
									.Want to Forecast some of the Data Click Below.</p>
								</header>
								<a href="/images" class="image main" target="_blank"><img src="/static/img/crypto.jpg" alt="" /></a>
								<ul class="actions special">
									<li><a href="/images" class="button large" target="_blank">Click Me </a></li>
								</ul>
							</article>

					</div>

					

				<!-- Footer -->
					<footer id="footer">
						
						<section class="split contact">
							<section class="alt">
								<h3>Developers</h3>
								<p>Adarsh Kandwal<br />

								</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">9456510003,9027131903</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">akaykandwal123@gmail.com</a><br>
									
								 
								</p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://twitter.com/Adarshkandwal1" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/profile.php?id=100010970732004" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/adarsh_kandwal" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/AdarshKandwal/StatusNeoProject1/tree/main/Bitcoin%20Analysis%20and%20Forecasting" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Kandwals Creation</li>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>