<!DOCTYPE html><html lang='en' class=''>
<head>
  <!--<script src="https://kit.fontawesome.com/f75621122b.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

  <link rel="shortcut icon" href="/static/img/title.png" type="image/x-icon">  
<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/images.css')}}'>
<title>Prediction</title>
</head>
<body>
  <div class="heading">
    <h2>Predictions and Analysis </h2>
  </div>
    <div class="container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
          <div class="numbertext">1 / 6</div>
            <img src="/static/img/prophetplot.jpg" style="width:100%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">2 / 6</div>
            <img src="/static/img/prophetplot2.jpg" style="width:100%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">3 / 6</div>
            <img src="https://raw.githubusercontent.com/AdarshKandwal/StatusNeoProject1/main/Bitcoin%20Analysis%20and%20Forecasting/CryptoCurrnecy%20Analysis/Images/Untitled2.png" style="width:100%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">4 / 6</div>
            <img src="https://raw.githubusercontent.com/AdarshKandwal/StatusNeoProject1/main/Bitcoin%20Analysis%20and%20Forecasting/CryptoCurrnecy%20Analysis/Images/Untitled4.png" style="width:100%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">5 / 6</div>
            <img src="https://raw.githubusercontent.com/AdarshKandwal/StatusNeoProject1/main/Bitcoin%20Analysis%20and%20Forecasting/CryptoCurrnecy%20Analysis/Images/Untitled5.png" style="width:100%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">6 / 6</div>
            <img src="https://raw.githubusercontent.com/AdarshKandwal/StatusNeoProject1/main/Bitcoin%20Analysis%20and%20Forecasting/CryptoCurrnecy%20Analysis/Images/Untitled6.png" style="width:100%">
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
        <!-- Image text -->
        <div class="caption-container">
          <p id="caption"></p>
        </div>
      
        <!-- Thumbnail images -->
        <div class="row">
          <div class="column">
            <img class="demo cursor" src="/static/img/prophetplot.jpg" style="width:100%" onclick="currentSlide(1)" alt="Bitcoin Prediction using FB Prophet upto N Days">
          </div>
          <div class="column">
            <img class="demo cursor" src="/static/img/prophetplot2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Daily, Monthly and Yearly Trend  upto N Days" >
          </div>
          <div class="column">
            <img class="demo cursor" src="https://raw.githubusercontent.com/AdarshKandwal/StatusNeoProject1/main/Bitcoin%20Analysis%20and%20Forecasting/CryptoCurrnecy%20Analysis/Images/Untitled2.png" style="width:100%" onclick="currentSlide(3)" alt="CryptoCurrencies Market Capitalization">
          </div>
          <div class="column">
            <img class="demo cursor" src="https://raw.githubusercontent.com/AdarshKandwal/StatusNeoProject1/main/Bitcoin%20Analysis%20and%20Forecasting/CryptoCurrnecy%20Analysis/Images/Untitled4.png" style="width:100%" onclick="currentSlide(4)" alt="Closing Price For Bitcoin">
          </div>
          <div class="column">
            <img class="demo cursor" src="https://raw.githubusercontent.com/AdarshKandwal/StatusNeoProject1/main/Bitcoin%20Analysis%20and%20Forecasting/CryptoCurrnecy%20Analysis/Images/Untitled5.png" style="width:100%" onclick="currentSlide(5)" alt="Training and Testing For LSTM Model">
          </div>
          <div class="column">
            <img class="demo cursor" src="https://raw.githubusercontent.com/AdarshKandwal/StatusNeoProject1/main/Bitcoin%20Analysis%20and%20Forecasting/CryptoCurrnecy%20Analysis/Images/Untitled6.png" style="width:100%" onclick="currentSlide(6)" alt="LSTM Model Prediction Upto 100 Days">
          </div>
        </div>
      </div>

</body>
<footer>
    <script src="{{ url_for('static', filename='js/images.js') }}" type="text/javascript"></script>    
</footer>

</html>